$blue-color: #00eaff;
$orange:#f5ad27;
$background: #181c28;
$white: #ffffff;
$border: #696969;
$button: #ff6b08;
$arrow:#00eaff;
$bgcolor: #edf0f2;
$color-overlay: #dbdee0;
$number: #fbfcfb;
$title:#1b202a;
$text:#383c43;