.action{
background-color: $background;
padding: 37px 21px 41px 16px;
background-image: url('../../images/header.png');
    &_text{
      font-size: 16px;
      font-family: 'Acrom';
      font-weight: 800;
      color: $white;
      margin-bottom: 46px;
      line-height: 1.25;
    }
    &_bigtext{
      font-size: 14px;
      font-family: 'Acrom';
      font-weight: 800;
      color: $white;
      margin-bottom: 32px;
      line-height: 1.5;
      &::before{
        display: block;
        content: '';
        width: 60px;
        height: 2px;
        background-color: $arrow;
        margin-bottom: 19px;
      }
    }
    &_title{
      font-size: 18px;
      font-family: 'Acrom';
      font-weight: 800;
      color: $arrow;
      margin-bottom: 23px;
      line-height: 1.5;
      
    }
    &_button{
      font-size: 14px;
      font-family: 'Acrom';
      font-weight: 800;
      color: $white;
      text-transform: uppercase;
      background-color: $button;
      padding: 28px 12px;
      border: none;
      box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
    }
    &_greytext{
      color: $greytext;
    }  
}


