.footer{
    background-image: url(../../images/footer.png);
    &_title{
        padding: 64px 0 302px;
        text-align: center;
        color: $arrow;
        font-family: 'Acrom';
        font-weight: 800;
        font-size: 20px;
        &::after{
            display: block;
            content: '';
            border-bottom: 1px solid $arrow;
            width: 210px;
            margin: 0 auto;
        }
    }
    &_logo{
        margin: 0 auto 14px;
        display: block;
    }
    &_action{
        text-decoration: none;
        
    }
    &_text{
        color: $white;
        font-family: 'Acrom';
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        padding-bottom: 37px;   
    }
}