.header{
    margin: 0 auto;
    background-color: $background;
    background-image: url(../../images/header.png);
    @media (min-width:768px){
        background-image: url(../../images/header_tab.png); 
    }
    &_logo{
        padding: 26px 0 27px 16px;
        
        @media (min-width:768px){
            padding: 40px 0 33px 62px;

           }
    }
   &_information{
       width: 260px;
       margin: 0 auto 16px;
       @media (min-width:768px){
        width: 620px;  
       }
   }
   
    &_text1{
        font-size: 14px;
        margin-bottom: 23px;
        color: $white;
        font-family: 'Acrom';
        font-weight: 400;
        @media (min-width:768px){
            margin-bottom: 42px; 
        }
        
    }
    &_title{
        font-size: 20px;
        color: $blue-color;
        margin-bottom: 23px;
        font-family: 'Acrom';
        font-weight: 800;
        @media (min-width:768px){
            font-size: 40px;  
            margin-bottom: 28px;
        }
    }
    &_text2{
        font-size: 14px;
        margin-bottom: 24px;
        color: $white;
        font-family: 'Acrom';
        font-weight: 600;
        @media (min-width:768px){
            font-size: 18px;  
            margin-bottom: 32px;
        }
    }
    &_text3{
        font-size: 14px;
        color: $orange;
        font-family: 'Acrom';
        font-weight: 800;
        @media (min-width:768px){
            font-size: 18px;  
        }
    }
    &_text4{
        font-size: 20px;
        color: $orange;
        font-family: 'Acrom';
        font-weight: 800;
        @media (min-width:768px){
            font-size: 40px;  
            margin-bottom: 22px;
        }
    }
    &_text5{
        font-size: 13px;
        color: $border;
        font-family: 'Acrom';
        font-weight: 400;
        text-align: center;
        padding-bottom: 29px;
        @media (min-width:768px){
            padding-bottom: 40px;  
        }
    }
    &_form-text1{
        margin-bottom: 12px;
        font-family: 'Acrom';
        font-weight: 800;
        font-size: 16px;
        @media (min-width:768px){
            font-size: 24px; 
            margin-bottom: 22px; 
        }

    }
    &_form-text2{
        margin-bottom: 14px;
        font-family: 'Acrom';
        font-weight: 300;
        font-size: 14px;
        @media (min-width:768px){
            margin-bottom: 27px; 
        }
        
    }
    &_form-text1, &_form-text2{
        width: 190px;
        @media (min-width:768px){
        width: 475px;
        text-align: center;
        margin: 0 auto 14px;

        }
    }
    &_form{
        background-color: $white;
        width: 260px;
        margin: 0 auto 12px;
        padding: 19px 20px 26px;
        box-shadow: 0px 12px 70px 0px rgba(121, 139, 188, 0.48);
        @media (min-width:768px){
            width: 620px;  
            margin: 0 auto 27px;
           }
        &-button{
            padding: 14px 29px;
            background-color: $button;
            text-transform: uppercase;
            font-size: 16px;
            color: $white;
            align-content: center;
            box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
            border: none;
            font-family: 'Acrom';
            font-weight: 800;  
            @media (min-width:768px){
                width: 480px;  
                margin: 0 auto 14px;
                display: block;
            } 
        }
    }
    &_input{
        color: $border;
        width: 220px;
        height: 40px;
        border: 1px solid $border;
        padding-left: 15px;
        font-family: 'Acrom';
        font-weight: 600; 
        font-size: 14px; 
        @media (min-width:768px){
            width: 480px;  
            margin: 0 auto;
        }   
    }
    &_inputs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 144px;
        margin-bottom: 19px;
        
          
    }

}

